{% extends "base.html.twig" %}

{%  block title %}Update Post{%  endblock %}
{% block breadcrumbs %}
    → <a href="{{ path('app_micro_post_show', {'id': post.id}) }}">Post</a> → Edit
{% endblock %}

{% block body %}
    {%  include("micro_post/_form.html.twig") %}
{% endblock %}